html,body{height: 100%}
body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.app__content {
  flex: 1 0 auto;

  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.app__title {
  margin: 0;
  padding: 16px;
}
.app__footer {
  flex-shrink: 0;
  text-align: center;
  padding: 16px;
}

.checkbox {
  display: inline-block;
  padding: 16px;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

.button {
  background-color: transparent;
  color: #3ca0e1;
  font-size: 16px;
  margin: 1px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}
.button:hover,.button:focus {
  margin-bottom: 0;
  border-bottom: 1px dashed;
}


.chart__polyline {
  fill: none;
}

.chart__polyline_invisible {
  visibility: hidden;
  opacity: 0;
}


.chart-main {
  width: 100%;
  height: 300px;
}
.chart-main__polyline {
  stroke-width: 2px;
  transition: opacity .3s, visibility .3s;
}


.chart-zoomer {
  height: 50px;
  position: relative;
  overflow: hidden;
}
.chart-zoomer__overlay {
  user-select: none;
  touch-action: manipulation;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238,243,252,0.4);
}
.chart-zoomer__pan {
  position: relative;

  box-sizing: border-box;
  height: 100%;
  border: 1px solid rgb(221,234,243);
  border-left-width: 0;
  border-right-width: 0;
  cursor: grab;
}
.chart-zoomer__pan:active {
  cursor: grabbing;
}
.chart-zoomer__pan-left-ruler,.chart-zoomer__pan-right-ruler {
  position: absolute;
  width: 4px;
  height: 100%;
  cursor: ew-resize;
  background-color: rgb(221,234,243);
}
.chart-zoomer__pan-left-ruler::before,
.chart-zoomer__pan-right-ruler::after {
  content: '';
  position: absolute;
  width: 32px;
  transform: translateX(-4px);
  height: 100%;
}
.chart-zoomer__pan-left-ruler { left: 0; }
.chart-zoomer__pan-left-ruler::before { left: -10px; }
.chart-zoomer__pan-right-ruler { right: 0; }
.chart-zoomer__pan-right-ruler::after { right: -16px; }


.chart-preview {
  width: 100%;
  height: 100%;
}
.chart-preview__polyline {
  transition: opacity .15s ease-in, visibility .15s ease-in;
}
.chart-preview__polyline_invisible {
  transition-timing-function: ease-out, ease-out;
}
