html,body{height: 100%}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  background-color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.content {
  flex: 1 0 auto;
}


.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 54px;
  background-color: #fff;
  color: #222;
  z-index: 9;
}
.header__section {
  position: absolute;
  box-sizing: border-box;
  padding: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__title {
  margin: 0;
  font-size: 16px;
}
.header__period {
  margin: 0;
  font-size: 13px;
}
.header__detailed 
.screen_detailed .header__main {
  display: none;
}

.header__detailed .zoom-out,
.header__detailed .header__period {
  opacity: 0;
  transform: scale(0) translate(0, 8px);
}
.screen_detailed .header__detailed .zoom-out,
.screen_detailed .header__detailed .header__period {
  opacity: 1;
  transform: scale(1) translate(0, 0);
}
.screen_detailed .header__main .header__title,
.screen_detailed .header__main .header__period {
  opacity: 0;
  transform: scale(0) translate(0, -8px);
}

/* transitions */
.header__main .header__title {
  transition: transform .3s, opacity .2s;
  transform-origin: left top;
}
.header__main .header__period {
  transition: transform .3s, opacity .2s;
  transform-origin: right top;
}
.header__detailed .zoom-out {
  transition: transform .3s, opacity .2s;
  transform-origin: left bottom;
}
.header__detailed .header__period {
  transition: transform .3s, opacity .2s;
  transform-origin: right bottom;
}


.checkboxes {
  margin: 8px;
}

.checkbox {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 6px 14px 8px 10px;
  line-height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.checkbox + .checkbox {
  margin-left: 8px;
}
.checkbox input {
  display: none;
}
.checkbox__bg {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
}
input:checked ~ .checkbox__bg {
  background-color: currentColor;
}
.checkbox__checkmark {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
input:checked ~ .checkbox__checkmark::before {
  background-color: currentColor;
  border-style: solid;
}
.checkbox__checkmark::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 10px;
  width: 20px;
  height: 20px;
  transform: scale(0);
  transition: transform .2s;
  background: no-repeat center center;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 130.2 130.2'%3E%3Cpolyline points='120.2,30.2 51.5,88.8 29.8,67.5 ' fill='none' stroke='%23fefefe' stroke-width='14px' stroke-linecap='round'%3E%3C/polyline%3E%3C/svg%3E");
}
input:checked ~ .checkbox__checkmark::after {
  transform: scale(0.8);
}
.checkbox__label {
  display: inline-block;
  font-weight: 500;
  vertical-align: middle;
  transform: translateX(-7px);
  color: currentColor;
  transition: color .3s, margin .2s, transform .2s;
}
input:checked ~ .checkbox__label {
  color: #fefefe;
  transform: translateX(0);
  transition: color 0s 0s, margin .2s, transform .2s;
}

.button {
  background-color: transparent;
  color: #3ca0e1;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px 1px #d8d8d8;
  position: absolute;
  padding: 10px;
  max-width: 200px;
}

.zoom-out {
  padding-left: 22px;
  background: no-repeat left center;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='4 4 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle clip-rule='evenodd' cx='16.8' cy='16.3' fill='transparent' fill-rule='evenodd' r='8'/%3E%3Cpath clip-rule='evenodd' fill='%233ca0e1' fill-rule='evenodd' d='M23.9 21.6l-3 2.6 8.5 8.5 2.8-2.8z'/%3E%3Cpath clip-rule='evenodd' d='M16.9 7.1c-5 0-9 4-9 9s4 9 9 9 9-4 9-9-4-9-9-9zm0 15c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6z' fill='%233ca0e1' fill-rule='evenodd'/%3E%3Cpath clip-rule='evenodd' fill='%233ca0e1' fill-rule='evenodd' d='M13 15h8v2h-8z'/%3E%3C/svg%3E");
}

.popover {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 13px;
}

.chart {
  position: relative;
  height: 300px;
}

.chart__canvas {
  width: 100%;
  height: 100%;
}

.chart__x {
  fill: #96a2aa;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, transform .3s;
}
.chart__x_visible {
  visibility: visible;
  opacity: 1;
}
.chart__x_last {
  text-anchor: end;
}

.chart__polyline {
  fill: none;
}
.chart__polyline_invisible {
  visibility: hidden;
  opacity: 0;
}


.chart-main {
  width: 100%;
  height: 300px;
}
.chart-main__polyline {
  stroke-width: 2px;
  transition: opacity .3s, visibility .3s;
}


.slider {
  height: 50px;
  position: relative;
  overflow: hidden;
  margin: 8px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.pan {
  cursor: grab;
  position: absolute;
  top: 0;
  height: 100%;
  will-change: left, right;
  box-sizing: border-box;
  border: 1px solid #c1d1e0;
  border-radius: 6px;
  border-left-width: 0;
  border-right-width: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.pan:active {
  cursor: grabbing;
}
.pan::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 999px rgba(238,243,252,0.4);
}
.pan_left,
.pan_right {
  position: absolute;
  width: 8px;
  height: 100%;
  cursor: ew-resize;
  background-color: #c1d1e0;
}
.pan_left::before,
.pan_right::before {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 3px;
  height: 18px;
  background-color: #fff;
  border-radius: 6px;
}
.pan_left::after,
.pan_right::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 100%;
  z-index: 1;
}
.pan_left {
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pan_right {
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pan_left::after { left: -24px; }
.pan_right::after { right: -24px; }


.footer {
  flex-shrink: 0;
  text-align: center;
  padding: 16px;
}

body.night { background-color: #242f3d }
.night .header { background-color: #242f3d;
  color: #fff }
.night .card {
  background-color: #253241;
  box-shadow: 0 1px 1px 1px #1e2834 }
.night .pan::after {
  box-shadow: 0px 0px 0px 999px rgba(23,35,49,.4) }
.night .pan { border-color: #56626d }
.night .pan_left,
.night .pan_right {
  background-color: #56626d }
.night .chart__x { fill: #556777 }
